.imagen-tarjeta {
    width: 230px;
    height: 230px;
    object-fit: contain;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto;
    margin-right: auto;
}

.fondo-verde{
    background-image: url('/Resources/fondo-verde.png');
}

.fondo-rojo{
    background-image: url('/Resources/fondo-rojo.png');
}

.fondo-azul{
    background-image: url('/Resources/fondo-azul.png');
}

.fondo-blanco{
    background-image: url('/Resources/fondo-blanco.png');
}

.fondo-cafe{
    background-image: url('/Resources/fondo-cafe.png');
}

.fondo-amarillo{
    background-image: url('/Resources/fondo-amarillo.png');
}

.fondo-morado{
    background-image: url('/Resources/fondo-morado.png');
}

.fondo-rosado{
    background-image: url('/Resources/fondo-rosado.png');
}

.fondo-gris{
    background-image: url('/Resources/fondo-gris.png');
}

.fondo-negro{
    background-image: url('/Resources/fondo-negro.png');
}

.card {
    width: 17rem;
    /* Ancho fijo */
    height: 25rem;
    /* Alto fijo */
    cursor: pointer; /* Cambia el cursor a una mano */
    border: none;
}


.font-name {
    font-family: 'name-font';
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 7px;
}

.font-id {
    font-family: 'id-font';
    color: #7eb284;
    font-weight: bold;
    letter-spacing: 2px;
}

.font-types {
    font-family: 'types-font';
    color: #5e7966;
    font-size: 22px;
}

.font-circle {
    font-family: 'circle-font';
    color: #5e7966;
}

/*margen negativo para que los contenidos de las filas se vean mas unidos*/
.margin-separar-arriba {
    margin-top: 20px
}

.margin-separar-abajo {
    margin-bottom: 20px;
}

@font-face {
    font-family: "name-font";
    src: url('/Resources/Cotton-Hill.ttf') format('truetype');
}

@font-face {
    font-family: "id-font";
    src: url('/Resources/Summer\ Dream\ Sans\ DEMO\ .ttf') format('truetype');
}

@font-face {
    font-family: "types-font";
    src: url('/Resources/seguibl.ttf') format('truetype');
}

@font-face {
    font-family: "circle-font";
    src: url('/Resources/circlethings.ttf') format('truetype');
}

.margen-acercar-arriba {
    margin-top: -25px;
}


/*colores de fondo de letra*/
.contorno-verde {
    -webkit-text-stroke: 12px #92c79d;
}

.contorno-rojo {
    -webkit-text-stroke: 12px #f28585;
}

.contorno-azul {
    -webkit-text-stroke: 12px #7bb6d6;
}

.contorno-blanco {
    -webkit-text-stroke: 12px #e1dddd;
}

.contorno-cafe {
    -webkit-text-stroke: 12px #c08f69;
}

.contorno-amarillo {
    -webkit-text-stroke: 12px #eddc93;
}

.contorno-morado {
    -webkit-text-stroke: 12px #7B6E91;
}

.contorno-rosado {
    -webkit-text-stroke: 12px #faacd8;
}

.contorno-gris {
    -webkit-text-stroke: 12px #B6B4B4;
}

.contorno-negro {
    -webkit-text-stroke: 12px #424242;
}

.contorno-tipos {
    -webkit-text-stroke: 0.5px #1d1d1d;
}

/*colores de numero*/
.color-verde{
    color:  #84b58e;
}

.color-rojo{
    color: #ae5353;
}

.color-azul{
    color: #5e8aa1;
}

.color-blanco{
    color: #C2C2C2;
}

.color-cafe{
    color: #a57d5e;
}

.color-amarillo{
    color: #c1b378;
}

.color-morado{
    color: #716683;
}

.color-rosado{
    color: #e796c5;
}

.color-gris{
    color: #676767;
}

.color-negro{
    color: #c0bdbd;
}

.shadow-moved {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3); /* Ajusta los valores según tus necesidades */
}


h3{
    font-size: 40px !important;
}

.card {

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }